.star-rating-container {
    display: flex;
    align-items: center;
    gap: 2px;
}

.star-icon {
    font-size: 20px;
}

.star-full {
    color: #FFD43B; /* Color dorado */
}

.star-empty {
    color: #a0a0a0; /* Color gris para estrellas vacías */
}