.tarjetaProducto {
    border: 2px solid #00bfff;
    border-radius: 10px;
    padding: 11px;
    margin: 8px;
    width: 164px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.07);
    display: flex;
    flex-direction: column;
    gap: 2px;
    background-color: #ffffffdf;
    font-family: "Arial", sans-serif;
    transition: transform 0.3s ease;
    color: #2c3e50;
}

.tarjetaProducto:hover {
    transform: translateY(-2px);
}

.encabezado {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.encabezado h3 {
    font-size: 0.64em;
    font-weight: 600;
    margin: 0 0 2px 0;
    color: #333;
    min-height: 2.6em; /* AJUSTE AQUÍ: Incrementado para asegurar espacio para 2 líneas */
}

.encabezado img {
    width: 12px;
}

.valoracion {
    display: flex;
    margin-bottom: 8px;
}

.valoracion img {
    width: 10px;
}

.contenedorImagen {
    width: 100%;
    height: 108px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 4px;
    overflow: hidden;
}

.contenedorImagen img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 16px;
    border: 1px solid black;
}

.contenedorPrecio,
.contenedorStock {
    font-size: 0.68em;
    font-weight: bold;
    width: 100%;
    text-align: center;
}

.contenedorAgregar button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 7px 12px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.68em;
    font-weight: 500;
    width: 100%;
    transition: background-color 0.2s ease;
}

.contenedorAgregar button:hover {
    background-color: #0056b3;
}

.contenedorAgregarCantidades {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.contenedorAgregarCantidades > div {
    background-color: #191919;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #007bff;
    border-radius: 6px;
    overflow: hidden;
    width: auto;
    padding: 2px 3px;
}

.contenedorAgregarCantidades button {
    background-color: #f8f9fa;
    color: #333;
    border: none;
    padding: 6px 8px;
    cursor: pointer;
    font-size: 0.72em;
    transition: background-color 0.2s ease;
}

.contenedorAgregarCantidades button:hover {
    background-color: #e9ecefca;
}

.contenedorAgregarCantidades button:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.contenedorAgregarCantidades button:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.contenedorAgregarCantidades span {
    padding: 0 8px;
    font-size: 0.8em;
    font-weight: 500;
    color: #fff;
    min-width: 20px;
    text-align: center;
}
