:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  background-color: #242424;

  /* Colores de Marca */
  --primary-color: #00BFFF; /* Azul vibrante */
  --secondary-color: #2C3E50; /* Azul oscuro/grisáceo */

  /* Colores Neutros */
  --background-light: #F0F0F0;
  --background-light-alt: #F8F9FA; /* Para diferenciar secciones claras */
  --text-dark: #333333;
  --text-medium: #495057;
  --text-light: #B0B0B0; /* Para footers o texto secundario */

  /* Colores de Estado */
  --success-color: #28a745; /* O tu greenyellow si lo prefieres */
  --error-color: #DC3545;
  --info-color: #007bff; /* Para botones y enlaces de acción */


    /* Variables para bordes y sombras */
    --border-radius-sm: 3px;
    --border-radius-md: 4px;
    --border-color-light: var(--text-light); /* Usando --text-light para bordes sutiles */

    --shadow-sm: 0 2px 8px rgba(0, 0, 0, 0.1); /* Sombra para el formulario */
    --shadow-focus: 0 0 0 2px rgba(0, 123, 255, 0.25); /* Sombra al enfocar inputs */

}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}